<div id="top-bar">
    <div class="container">
        <nav class="row">
            <ul class="nav">
                <li class="col-md-4 text-xs-center">
                    <a routerLink="/home">Home</a>
                </li>
                <li class="col-md-4 text-xs-center">
                    <a routerLink="/dashboard/chart">Dashboard</a>
                </li>
                <li class="col-md-4 text-xs-center">
                    <a routerLink="/wikipedia">Wikipedia</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<router-outlet></router-outlet>
