<div class="container animated fadeIn">
    <div class="row">
        <div class="col-md-12 text-xs-center">
            <h1>Your Wikipedia Search</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <br>
            <input #term (keyup)="search(term.value)" class="form-control form-control-lg" type="text" placeholder="Search for it"/>
            <br><br>
            <ul>
                <li *ngFor="let title of titles; let i = index;">
                    <a href="{{urls[i]}}" target="_blank">{{title}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
