.cont-name {
    text-transform: capitalize;
}
thead {
    background-color: rgba(221, 3, 48, .8);
    color: #fff;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff;
}
.table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.05);
}